body{
	margin: 0;
	padding: 0;
	font-family: arial;
	color: #22393a;
	font-family: 'montserrat', sans-serif;
	background: #9ec3d9;
	position: relative;
}

h1,h2{
	font-family: titleFont;
	text-shadow: 2px 2px #22393a;
	color: #FFF;
	text-align: center;
	letter-spacing: 3px;
}

h1{
	font-size: 100px;
	margin-top: 10%;
    transition: font-size 0.5s, padding-top 0.5s;
    margin-bottom: 20px;

    -webkit-animation:float 10s ease-in-out infinite;
    -moz-animation:float 10s ease-in-out infinite;
    animation:float 10s ease-in-out infinite;
}

h2{ 
	font-size: 36px;
	margin: 0 0 30px; 
}

h3{
	color: #FFF;
	text-align: center;
	font-size: 26px;
	text-shadow: 1px 1px #22393a;
}

h3 a{
	color: #FFF;
}

a{
	color: #22393a;
	text-decoration: none;
	margin: 0 30px;
}
a:hover{
	color: #89A !important;
}

p{
	text-align: center;
}

.block{
	width: 100%;
	height: 800px;
	overflow: hidden;
	position: relative;
	/*border: 1px solid #000;*/
	transition: background 2s;
}

.nav{
	width: 100%;
	height: 20px;
	text-align: center;
	position: fixed;
	padding: 50px 0px;
	top: 0;
	transition: background 0.2s, padding 0.2s;
	z-index: 2;
}

#sky{
	background: #b0d9f2; /* Old browsers */
}
#sky-horizon{
	background: #b0d9f2; /* Old browsers */
	background: -moz-linear-gradient(top, #9ec3d9 0%, #e7f3fb 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #9ec3d9 0%,#e7f3fb 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #9ec3d9 0%,#e7f3fb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	margin-top: 120px;
}

#sea-horizon{
	background: #396d5b; /* Old browsers */
	background: -moz-linear-gradient(top, #f4f4f4 0%, #2b5346 1%, #396d5b 2%, #22393a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f4f4f4 0%, #2b5346 1%, #396d5b 2%,#22393a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f4f4f4 0%, #2b5346 1%, #396d5b 2%,#22393a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	padding-top: 75px;
	position: relative;
}
#sea{
	height: 450px;
	padding-top: 350px;
	background: #1d3a38;
	background-image: url('Images/stardust.png');
    -webkit-animation:bfloat 25s linear infinite;
    -moz-animation:bfloat 25s linear infinite;
    animation:bfloat 25s linear infinite;
}

#sea::before{
	content: " ";
	width: 100%;
	height: 100%;
	background: #00302c;
	opacity: 0.5;
	display: block;
	position: absolute;
	top: 0;
}

#sea a{
	color: #FFF;
}

.content{
	position: absolute;
	left: 0;
	right: 0;
}
.animal{
	width: 100%;
	height: 75%;
	position: absolute;
	top: 0;
	transform-origin: center;
	transform: rotate(5deg);
	overflow: hidden;

    -webkit-animation:spin 50s linear infinite;
    -moz-animation:spin 50s linear infinite;
    animation:spin 50s linear infinite;
}
.offset{
	margin-left: 500px;
}
.animal.ccw, .offset .animal{
    -webkit-animation:nspin 50s linear infinite;
    -moz-animation:nspin 50s linear infinite;
    animation:nspin 50s linear infinite;
}
.animal.ccw img{
	transform: rotate(90deg);
	width: 100px;
	height: 70px;
	filter:blur(3px);
}
.offset .animal img{
	top: 150px;
	width: 40px;
	height: 20px;
	transform: rotate(90deg);
}

.animal img{
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 100px;
	width: 60px;
	height: 30px;
	transform: rotate(-90deg);
    filter:blur(3px) invert(100%);
}

.about{
	margin: 0 auto;
	width: 700px;
	display: none;
}

.clouds{
	position: absolute;
	width: 100%;
	bottom: 1%;
}

.clouds img{
	position: absolute;
	bottom: -100px;
	left: -150px;
}

.clouds img:nth-child(2){
	margin-left: 500px;
	height: 270px;
	bottom: -100px;
   -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.clouds img:nth-child(3){
	right: 100px;
	left: initial;
	height: 100px;
	bottom: -50px;
	filter: blur(4px);
}

.info{
	background: #FFF;
	border-radius: 100%;
	display: inline-block;
	position: relative;
	cursor: pointer;
    overflow: hidden;

    -webkit-animation:bubble 7s ease-in-out infinite;
    -moz-animation:bubble 7s ease-in-out infinite;
    animation:bubble 7s ease-in-out infinite;

    transition: width 1s, height 1s, margin 0.5s;
}

.info span{
	display: none;
}
.info:hover span{
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	right: 0;	
	display: flex;
	align-items: center;
    justify-content: center;
    text-align: center;
    color: #22393a;
    font-size: 1.2em;
}

.info img{
	height: 100%;
	text-align: center;
	display: inline;
}

.info:hover::before{
	content: "";
	display: block;
	background: #FFF;
	opacity: 0.9;
	border-radius: 100%;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	border: 5px;
}

.group{
	text-align: center;
	margin: auto;
	position: relative;
}
.group .info{
	vertical-align: middle;
}
.group:first-child .info{
	vertical-align: bottom;
}
.group:last-child .info{
	vertical-align: top;
}

.contact-links{
	text-align: center;
	width: 100%;
}

.selected{
	opacity: 0.5;
}

.reduced{
	width: 65px !important;
	height: 65px !important;
	margin: 0 15px 120px !important;
	font-size: 0.65em;
}

.bottom-bar{
	margin-left: auto;
	margin-right: auto;
	width: 575px;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	margin-bottom: 0px;
}

/* Portfolio */

#project{
	display: none;
}

.page-container{
	max-width: 1200px;
	left: 0;
	right: 0;
	margin: 0 auto;
	color: #FFF;
}

.page-container h2, .page-container p{
	text-align: left;
}
.page-container h2{
	font-family: titleFont;
	margin-bottom: 20px;
	margin-top: 0px;
	font-size: 36px;
}

.left-panel{
	width: 60%;
	float: left;
	display: inline-block;
}
.right-panel{
	width: 40%;
	float: right;
	display: inline-block;
	color: #FFF;
	text-align: left;
}

.right-panel p{
	text-align: left;
}

.right-panel .inner{
	padding: 30px;
}

.proj-info a{
	color: #FFF;
	width: 100%;
	display: block;
	margin: 20px 0;
	text-align: center;
	text-shadow: 1px 1px #22393a;
}

.thumbs div{
 	width: 32%;
 	display: inline-block;
 	float: left;
 	height: 75px;
	overflow-y: hidden;
	border-radius: 10px;
	cursor: pointer;
	background: #FFF;
}

.thumbs div:first-child{
	margin-right: 1%;
}
.thumbs div:last-child{
	margin-left: 1%;
}

.thumbs img{
	width: 100%;
}

.full-image{
	background: #FFF;
	margin-left: 30px;
	padding: 5px;
	border-radius: 10px;
	max-height: 580px;
	text-align: center;
}

.full-image img{
	width: auto;
	max-width: 100%;
	max-height: 580px;
	border-radius: 10px;
}

.footer{
	width: 100%;
	text-align: center;
	font-size: 14px;
	color: #89A;
	position: absolute;
	bottom: 20px;
	background: transparent;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

@-moz-keyframes nspin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes nspin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes nspin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes float {
	0% { -moz-transform: translate(-10px,0) } 
	50% {-moz-transform: translate(10px,0) } 
	100% {-moz-transform: translate(-10px,0)}
}
@-webkit-keyframes float {
	0% {-webkit-transform: translate(-10px,0)} 
	50% {-webkit-transform: translate(10px,0)} 
	100% {-webkit-transform: translate(-10px,0)}
}
@keyframes float {
	0% { -webkit-transform: translate(-10px,0); transform: translate(-10px,0)} 
	50% { -webkit-transform: translate(10px,0); transform: translate(10px,0)} 
	100% { -webkit-transform: translate(-10px,0); transform: translate(-10px,0)} 
}

@-moz-keyframes bfloat {0% { background-position: 0% 0%; } 100% { background-position: 798px 0px; }}
@-webkit-keyframes bfloat {0% { background-position: 0% 0%; } 100% { background-position: 798px 0px; }}
@keyframes bfloat {0% { background-position: 0% 0%; } 100% { background-position: 798px 0px; }}


@-moz-keyframes bubble {
	0% { -moz-transform: translate(0,-10px)} 
	50% { -moz-transform: translate(0,10px)} 
	100% { -moz-transform: translate(0,-10px)} 
}
@-webkit-keyframes bubble {
	0% { -webkit-transform: translate(0,-10px)} 
	50% { -webkit-transform: translate(0,10px)} 
	100% { -webkit-transform: translate(0,-10px)} 
}
@keyframes bubble {
	0% { -webkit-transform: translate(0,-10px); transform: translate(0,-10px)} 
	50% { -webkit-transform: translate(0,-10px); transform: translate(0,10px)} 
	100% { -webkit-transform: translate(0,-10px); transform: translate(0,-10px)} 
}

@font-face {
    font-family: titleFont;
    src: url(Fonts/HAMBH___.TTF);
}